body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D3D3D3;
}

.nav-bar {
  background-color: white;
  width: 100%;
  height: 56px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  font-size: 24px;
  z-index: 2;
  position: relative;
}

.container {
  margin: 0 auto;
  margin-top: 16px;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.cities-list-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 64px;
}

.cities-list-div>.heading {
  margin: 16px auto;
  font-size: 20px;
}

.city-btn {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
}

.city-btn:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.restaurants-list-div {
  width: calc(100% - 32px);
  max-width: 640px;
  background-color: white;
  border: 1px solid grey;
  border-top: none;
  margin: 0 auto;
  padding: 16px;
  min-height: calc(100vh - 88px);
}

.restaurants-list-div>.heading {
  margin-bottom: 16px;
}

.restaurant-div {
  display: flex;
  border-bottom: 0.5px solid rgb(212, 212, 212);
  padding: 8px 0px;
  text-decoration: none;
}



.restaurant-image {
  margin-right: 16px;
}

.restaurant-image>img {
  width: 100px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.restaurant-name {
  color: #6a6a6a;
  margin-bottom: 8px;
  font-size: 18px;
}

.restaurant-rating {
  margin-right: 8px;
  color: #818181;
}

.restaurant-rating>svg {
  height: 12px;
  width: 12px;
}

.restaurant-rating>.text {
  font-size: 12px;
  margin: 0 8px;
  display: initial;

}

.restaurant-rating span {
  font-size: 10px;
}

.restaurant-info {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.restaurant-review {
  font-size: 12px;
  color: #818181;
}

.restaurant-page-container {
  background-color: white;
  padding: 16px;
  margin-top: -4px;
}

.restaurant-page-container>div {
  border-bottom: 1px solid #bababa;
  padding: 16px 8px;
}

.details-title {
  font-size: 14px;
  color: #bababa;
  margin: 8px 0;
}

.details-text {
  font-size: 16px;
  color: #6a6a6a;
  margin-bottom: 16px;
  max-width: 500px;
}


.restaurant-banner img {
  object-fit: cover;
  width: 100%;
}

.review-div {
  display: flex;
  margin: 24px 0;
}

.review-profile {
  padding: 0 16px;
}

.review-profile img {
  border-radius: 50%;
  height: 56px;
  width: auto;
}

.review-name {
  font-size: 14px;
  color: #6a6a6a;
  margin-bottom: 8px;
}

.review-stars {
  margin-bottom: 12px;
}

.review-stars svg {
  height: 16px;
  width: auto;
}

.review-text {
  font-size: 12px;
  color: #818181;
  margin-bottom: 8px;
}

.restaurant-ratings-div .heading {
  color: #6a6a6a;
}